@page
@model EmployeeSite.Pages.Activities.EditModel

<h4>EmployeeActivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeActivity.Id" />
            <div class="form-group">
                <label asp-for="EmployeeActivity.EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeActivity.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeActivity.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeActivity.Customer" class="control-label"></label>
                <input asp-for="EmployeeActivity.Customer" class="form-control" />
                <span asp-validation-for="EmployeeActivity.Customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeActivity.ActivityDecription" class="control-label"></label>
                <input asp-for="EmployeeActivity.ActivityDecription" class="form-control" />
                <span asp-validation-for="EmployeeActivity.ActivityDecription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeActivity.DateTaskCompleted" class="control-label"></label>
                <input asp-for="EmployeeActivity.DateTaskCompleted" class="form-control" />
                <span asp-validation-for="EmployeeActivity.DateTaskCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeActivity.TaskDurationMinutes" class="control-label"></label>
                <input asp-for="EmployeeActivity.TaskDurationMinutes" class="form-control" />
                <span asp-validation-for="EmployeeActivity.TaskDurationMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
